<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Notification</title>
</head>
<body>
    <%- include('../components/Header', {user: true}); %> 
    
    <div class="content">
        <p class="title">Select a Server</p>
        <hr id="line"><br><br>
        <div class="guilds-container">
          <% for (let guild of guilds) { %> 
            <div class="guild-item">
                <img src="<%= guild.icon %>" class="img-round">
                <p class="lead guild-name"><%= guild.name %></p><br>
                <a class="btn btn-discord" href="/dashboard/<%= guild.id %>">Select</a>
            </div>
          <% } %> 
        </div>
    </div>
</body>
</html>