<div class="flex items-stretch bg-transparent text-gray-200 pb-1">
    <a class="p-2 pl-6 font-bold text-2xl self-center" href="/">알리미</a>
    <div class="pl-4 self-center font-bold text-1xl">
        <% if (user) { %> 
            <a class="" href="/dashboard">대시보드</a>
        <% } else { %> 
            <a class="" href="//discord.com/api/oauth2/authorize?client_id=850394280056324106&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fcallback&response_type=code&scope=identify%20guilds">로그인</a>
        <% } %>
    </div>
    <ul class="px-4 flex flex-row font-bold text-1xl">
        <li class="self-center"><a href="#">초대하기</a></li>
        <li class="pl-4 self-center"><a href="https://discord.gg/nKaM6RrN92" target="_blank">디스코드</a></li>
        <li class="pl-4 self-center"><a href="https://github.com/Team-int/notification" target="_blank">깃허브</a></li>
    </ul>
</div>